<br /><br /><% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert"><p>Nous n'avons pas réussi à créer le user pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul></div>
<% end %> 

<% unless @pwd_not_match.nil? %>
<div class="alert alert-danger" role="alert"><%= @pwd_not_match %></div>
<% end %>


<br />

<%if !logged_in?%>
<%= form_tag url_for(action: 'create'), method: "post", :class => 'form-group' do %>
      Hello ! <br />Inscris-toi pour profiter du site :)<br/><br/>

      <%= label_tag 'Email' %><br/>
      <%= text_field_tag 'email', nil, class:'form-control' %>
      <br /> 

      <%= label_tag 'Password' %><br/>
      <%= password_field_tag 'password', nil, class:'form-control' %>
      <br /> 

      <%= label_tag 'Re-Password' %><br/>
      <%= password_field_tag 'password_confirmation', nil, class:'form-control' %>
      <br /> 

      <%= label_tag 'City' %><br/>
      <%= text_field_tag 'city', nil, class:'form-control' %>
      <br /> 

      <%= label_tag 'Age' %><br/>
      <%= text_field_tag 'age', nil, class:'form-control' %>
      <br /> 

      <%= label_tag 'First name' %><br/>
      <%= text_field_tag 'first_name', nil, class:'form-control' %>
      <br /> 

      <%= label_tag 'Last Name' %><br/>
      <%= text_field_tag 'last_name', nil, class:'form-control' %>
      <br />
      <%= submit_tag "S'enregistrer", class:'btn btn-primary' %>

    <% end %>
    <%end%>